html {
    font-family: "Poppins";
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    height: auto;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(229, 255, 255, 0.677);
}
h1 {
    font-size: 3.5rem;
    color: rgb(171 64 0);
    margin: 0;
}
.container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .score {
        font-size: 1.7rem;
        font-weight: 700;
    }
    .box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
        width: 560px;
        height: 560px;
        .card {
            position: relative;
            transform-style: preserve-3d;
            transition: transform 0.5s;
            cursor: pointer;
        }
        .card-back:hover {
            background-color: rgba(3, 177, 3, 0.514);
        }
        .card.flip {
            transform: rotateY(180deg);
        }

        .card-front,
        .card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            font-size: 32px;
        }

        .card-back {
            background: #eee;
        }

        .card-front {
            transform: rotateY(180deg);
            background: rgb(255, 255, 255);
        }
    }
}
